* {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0; }

html, body {
  background: #0C2928; }

.container, .content main {
  margin: 0 auto; }
  @media (min-width: 360px) {
    .container, .content main {
      width: 90%; } }
  @media (min-width: 1000px) {
    .container, .content main {
      width: 960px; } }

.top-bg {
  background-image: url("../images/background-01.jpg");
  background-size: cover;
  background-color: #041C1B; }
  @media (min-width: 360px) {
    .top-bg {
      border-top: 0px solid #041C1B; } }
  @media (min-width: 1000px) {
    .top-bg {
      border-top: 48px solid #041C1B; } }
  .top-bg .container {
    position: relative; }

@media (min-width: 360px) {
  h1 {
    padding-top: 40px; } }
@media (min-width: 500px) {
  h1 {
    padding-top: 60px; } }
h1 a {
  display: block; }
h1 svg {
  display: block; }
  @media (min-width: 360px) {
    h1 svg {
      width: 85%;
      height: auto;
      margin-bottom: 40px; } }
  @media (min-width: 500px) {
    h1 svg {
      width: 60%;
      height: auto;
      margin-bottom: 80px; } }
  @media (min-width: 800px) {
    h1 svg {
      width: 50%;
      height: auto; } }
  @media (min-width: 1000px) {
    h1 svg {
      width: 416px;
      height: 70px; } }

.contact-bar {
  position: absolute;
  top: -34px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%; }
  .contact-bar div:nth-child(1) {
    margin-right: 40px; }
  .contact-bar h3 {
    display: none; }
  .contact-bar p, .contact-bar a {
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    letter-spacing: 0.05em; }
  .contact-bar p svg {
    top: 3px;
    position: relative;
    margin-right: 5px; }
  .contact-bar span {
    padding: 0 10px; }
  @media (min-width: 360px) {
    .contact-bar {
      display: none; } }
  @media (min-width: 1000px) {
    .contact-bar {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }

nav {
  left: -10px;
  position: relative; }
  @media (min-width: 360px) {
    nav {
      display: block;
      margin-bottom: 60px; } }
  @media (min-width: 750px) {
    nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-bottom: 100px; } }
  nav a {
    text-transform: uppercase;
    color: #F8C560;
    text-decoration: none;
    letter-spacing: 0.095em;
    font-weight: 500;
    border: 1px solid rgba(4, 28, 27, 0);
    padding: 10px;
    display: inline-block;
    -webkit-transition: border-color 0.3s ease;
    transition: border-color 0.3s ease; }
    nav a:hover {
      border: 1px solid #F8C560; }
  nav .home, nav .contato {
    display: none; }
  @media (min-width: 360px) {
    nav a {
      display: block;
      line-height: 44px;
      font-size: 12px;
      margin-bottom: 5px;
      padding: 5px; }
      nav a.contato {
        display: block; } }
  @media (min-width: 750px) {
    nav a {
      font-size: 12px;
      display: inline-block;
      line-height: 1em;
      padding: 10px; }
      nav a.contato {
        display: none; } }
  @media (min-width: 950px) {
    nav a {
      font-size: 14px;
      display: inline-block;
      line-height: 1em;
      margin-bottom: 0px; }
      nav a.contato {
        display: none; } }

.link {
  color: #F8C560;
  border: 1px solid #F8C560;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 11px;
  padding: 10px;
  display: inline-block;
  letter-spacing: 0.05em;
  background-color: rgba(247, 189, 85, 0);
  -webkit-transition: background-color 0.3s ease, color 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease; }
  .link:hover {
    background-color: #f7bd55;
    color: #fff; }

.lb-loader, .lightbox {
  text-align: center;
  line-height: 0; }

.lb-dataContainer:after, .lb-outerContainer:after {
  content: "";
  clear: both; }

html.lb-disable-scrolling {
  overflow: hidden;
  position: fixed;
  height: 100vh;
  width: 100vw; }

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: #000;
  filter: alpha(Opacity=80);
  opacity: .8;
  display: none; }

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  font-weight: 400; }

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  max-height: none;
  border-radius: 3px;
  border: 4px solid #fff; }

.lightbox a img {
  border: none; }

.lb-outerContainer {
  position: relative;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 4px;
  background-color: #fff; }

.lb-loader, .lb-nav {
  position: absolute;
  left: 0; }

.lb-outerContainer:after {
  display: table; }

.lb-loader {
  top: 43%;
  height: 25%;
  width: 100%; }

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../images/loading.gif) no-repeat; }

.lb-nav {
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 10; }

.lb-container > .nav {
  left: 0; }

.lb-nav a {
  outline: 0;
  background-image: url(data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==); }

.lb-next, .lb-prev {
  height: 100%;
  cursor: pointer;
  display: block; }

.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(../images/prev.png) left 48% no-repeat;
  filter: alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity .6s;
  transition: opacity .6s; }

.lb-nav a.lb-prev:hover {
  filter: alpha(Opacity=100);
  opacity: 1; }

.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(../images/next.png) right 48% no-repeat;
  filter: alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity .6s;
  transition: opacity .6s; }

.lb-nav a.lb-next:hover {
  filter: alpha(Opacity=100);
  opacity: 1; }

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  width: 100%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px; }

.lb-dataContainer:after {
  display: table; }

.lb-data {
  padding: 0 4px;
  color: #ccc; }

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em; }

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: 700;
  line-height: 1em; }

.lb-data .lb-caption a {
  color: #4ae; }

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999; }

.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../images/close.png) top right no-repeat;
  text-align: right;
  outline: 0;
  filter: alpha(Opacity=70);
  opacity: .7;
  -webkit-transition: opacity .2s;
  transition: opacity .2s; }

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: alpha(Opacity=100);
  opacity: 1; }

.intro {
  margin-bottom: 40px; }
  .intro .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 60px; }
  .intro .intro-image {
    width: 45%;
    height: 45%; }
    @media (min-width: 360px) {
      .intro .intro-image {
        display: none; } }
    @media (min-width: 500px) {
      .intro .intro-image {
        display: block; } }
  @media (min-width: 360px) {
    .intro div.column-01 {
      width: 100%; } }
  @media (min-width: 500px) {
    .intro div.column-01 {
      width: 55%; } }
  .intro h2 {
    font-size: 42px;
    color: #F8C560;
    font-weight: 100;
    margin-bottom: 40px;
    line-height: 1.2em; }
    .intro h2 span {
      color: #fff;
      font-weight: 100; }

.vantagens {
  padding-bottom: 60px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(10, 60, 58, 0)), color-stop(75%, #041C1B), to(#041C1B));
  background-image: linear-gradient(-180deg, rgba(10, 60, 58, 0) 0%, #041C1B 75%, #041C1B 100%); }
  .vantagens .container {
    position: relative; }
  .vantagens h2 {
    font-size: 38px;
    color: #F8C560;
    font-weight: 100;
    margin-bottom: 60px;
    line-height: 1.2em; }
    .vantagens h2 span {
      display: none; }
  .vantagens ol {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .vantagens ol li {
      text-align: center;
      list-style: none;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
      @media (min-width: 360px) {
        .vantagens ol li {
          width: 50%;
          margin: 0 auto 48px auto;
          padding: 0 10px; } }
      @media (min-width: 1000px) {
        .vantagens ol li {
          width: 25%; } }
      .vantagens ol li div {
        border-radius: 100%;
        display: block;
        text-decoration: none;
        text-align: center;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        -webkit-transition: background-color 0.5s ease;
        transition: background-color 0.5s ease; }
        @media (min-width: 360px) {
          .vantagens ol li div {
            width: 160px;
            height: 160px;
            padding: 10px 0 0 0;
            margin: 0 auto; } }
        @media (min-width: 1000px) {
          .vantagens ol li div {
            width: 200px;
            height: 200px;
            padding: 30px 0 0 0; } }
        .vantagens ol li div svg {
          -webkit-transition: top 0.8s ease, -webkit-transform 0.8s ease;
          transition: top 0.8s ease, -webkit-transform 0.8s ease;
          transition: top 0.8s ease, transform 0.8s ease;
          transition: top 0.8s ease, transform 0.8s ease, -webkit-transform 0.8s ease; }
          @media (min-width: 360px) {
            .vantagens ol li div svg {
              -webkit-transform: scale(0.7);
                      transform: scale(0.7);
              margin-bottom: 0px; } }
          @media (min-width: 1000px) {
            .vantagens ol li div svg {
              -webkit-transform: scale(1);
                      transform: scale(1);
              margin-bottom: 20px; } }
        .vantagens ol li div h3 {
          top: 0px;
          font-size: 14px;
          font-weight: 500;
          letter-spacing: 0.065em;
          -webkit-transition: top 0.5s ease;
          transition: top 0.5s ease;
          position: relative; }
        .vantagens ol li div:hover h3 {
          top: -8px !important; }
        .vantagens ol li div:hover svg {
          position: relative;
          -webkit-transform: scale(1.12);
                  transform: scale(1.12); }
      .vantagens ol li:nth-child(1) div {
        background-color: #042C2B;
        color: #F8C560; }
        .vantagens ol li:nth-child(1) div:hover {
          background-color: #032322; }
      .vantagens ol li:nth-child(2) div {
        background-color: #0A4340;
        color: #F8C560; }
        .vantagens ol li:nth-child(2) div:hover {
          background-color: #093a38; }
      .vantagens ol li:nth-child(3) div {
        background-color: #FBAC30;
        color: #fff; }
        .vantagens ol li:nth-child(3) div:hover {
          background-color: #f39605; }
        @media (min-width: 360px) {
          .vantagens ol li:nth-child(3) div svg {
            margin-bottom: 0px; } }
        @media (min-width: 1000px) {
          .vantagens ol li:nth-child(3) div svg {
            margin-bottom: 10px; } }
        @media (min-width: 360px) {
          .vantagens ol li:nth-child(3) div h3 {
            top: -10px;
            position: relative; } }
        @media (min-width: 1000px) {
          .vantagens ol li:nth-child(3) div h3 {
            top: 0; } }
      .vantagens ol li:nth-child(4) div {
        background-color: #F8C560;
        color: #fff; }
        .vantagens ol li:nth-child(4) div:hover {
          background-color: #f6b32f; }
  .vantagens a.link {
    position: absolute;
    top: 8px;
    left: 230px; }

.depoimentos {
  background-color: #fff; }
  @media (min-width: 360px) {
    .depoimentos {
      padding: 48px 0; } }
  @media (min-width: 750px) {
    .depoimentos {
      padding: 90px 0; } }
  .depoimentos .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (min-width: 360px) {
      .depoimentos .container {
        background: none;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }
    @media (min-width: 750px) {
      .depoimentos .container {
        background: url(../images/icon-comment.svg) 0 0 no-repeat;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start; } }
  .depoimentos h2 {
    display: none; }
  .depoimentos p {
    font-size: 24px;
    color: #042C2B;
    line-height: 1.45em;
    margin-bottom: 15px; }
    @media (min-width: 360px) {
      .depoimentos p {
        text-align: center; } }
    @media (min-width: 750px) {
      .depoimentos p {
        text-align: left; } }
    .depoimentos p.autor {
      font-weight: 500;
      color: #F8C560;
      font-size: 18px;
      margin-bottom: 0px; }
      .depoimentos p.autor span {
        display: none; }
  .depoimentos .column-01 {
    margin-bottom: 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    @media (min-width: 360px) {
      .depoimentos .column-01 {
        width: 100%;
        padding-left: 0px; } }
    @media (min-width: 750px) {
      .depoimentos .column-01 {
        width: 70%;
        padding-left: 30px; } }
  .depoimentos .photo {
    margin-bottom: 30px;
    text-align: center; }
    @media (min-width: 360px) {
      .depoimentos .photo {
        width: 100%; } }
    @media (min-width: 750px) {
      .depoimentos .photo {
        width: 30%; } }
    .depoimentos .photo .photo-mask {
      width: 200px;
      height: 200px;
      display: block;
      border-radius: 200px;
      overflow: hidden;
      margin: 0 auto 20px auto; }
      .depoimentos .photo .photo-mask img {
        width: 200%;
        display: block;
        position: relative;
        left: -50%;
        top: -1px;
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 0.8;
        -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
        transition: opacity 1s ease, -webkit-transform 1s ease;
        transition: transform 1s ease, opacity 1s ease;
        transition: transform 1s ease, opacity 1s ease, -webkit-transform 1s ease; }
      .depoimentos .photo .photo-mask:hover img {
        -webkit-transform: scale(1.2);
                transform: scale(1.2);
        opacity: 1; }
    .depoimentos .photo .link {
      margin: 0 auto; }
  .depoimentos .link {
    color: #042C2B;
    border-color: #042C2B;
    background-color: rgba(7, 39, 38, 0);
    -webkit-transition: background-color 0.3s ease, color 0.3s ease;
    transition: background-color 0.3s ease, color 0.3s ease; }
    .depoimentos .link:hover {
      background-color: #072726;
      color: #fff; }
    @media (min-width: 360px) {
      .depoimentos .link {
        margin-left: 0px; } }
    @media (min-width: 750px) {
      .depoimentos .link {
        margin-left: 30px; } }

.projetos {
  padding: 60px 0;
  text-align: center;
  letter-spacing: 0.04em;
  background-image: linear-gradient(-45deg, #0C2928 0%, #0C2928 30%, #E7B042 100%);
  background-blend-mode: color-dodge;
  background-color: #0C2928; }
  .projetos h2 {
    font-size: 48px;
    color: #F8C560;
    font-weight: 100;
    margin-bottom: 80px;
    line-height: 1.2em; }
  .projetos .group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .projetos .group div {
      width: 100%;
      margin-bottom: 60px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
      @media (min-width: 360px) {
        .projetos .group div {
          border-top: 0px solid #041C1B; } }
      @media (min-width: 500px) {
        .projetos .group div {
          width: 50%;
          padding: 0 25px; } }
      @media (min-width: 1000px) {
        .projetos .group div {
          width: 50%;
          padding: 0; } }
    .projetos .group .photo-mask {
      display: block;
      border-radius: 200px;
      overflow: hidden;
      margin: 0 auto 30px auto; }
      @media (min-width: 360px) {
        .projetos .group .photo-mask {
          width: 240px;
          height: 240px; } }
      @media (min-width: 500px) {
        .projetos .group .photo-mask {
          width: 180px;
          height: 180px; } }
      @media (min-width: 1000px) {
        .projetos .group .photo-mask {
          width: 340px;
          height: 340px; } }
      .projetos .group .photo-mask img {
        width: 200%;
        display: block;
        position: relative;
        left: -50%;
        top: -1px;
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 0.75;
        -webkit-transition: opacity 0.5s ease, -webkit-transform 1s ease;
        transition: opacity 0.5s ease, -webkit-transform 1s ease;
        transition: transform 1s ease, opacity 0.5s ease;
        transition: transform 1s ease, opacity 0.5s ease, -webkit-transform 1s ease; }
      .projetos .group .photo-mask:hover img {
        -webkit-transform: scale(1.15);
                transform: scale(1.15);
        opacity: 1; }
    .projetos .group h3 {
      margin-bottom: 10px;
      color: #F8C560;
      font-weight: 500;
      font-size: 18px; }
    .projetos .group p {
      color: #fff;
      font-weight: 300;
      font-size: 14px;
      line-height: 1.5em; }

.map {
  position: relative; }
  .map #map {
    margin: 0 auto;
    height: 500px;
    width: 100%;
    text-align: left; }
  .map .floating-box {
    position: absolute;
    top: 100px; }
    @media (max-width: 500px) {
      .map .floating-box {
        width: 87%; } }
  .map .contato {
    background: rgba(12, 41, 40, 0.9); }
    @media (min-width: 360px) {
      .map .contato {
        padding: 15px 20px; } }
    @media (min-width: 500px) {
      .map .contato {
        padding: 30px 40px; } }
    .map .contato h2 {
      color: #F8C560;
      font-weight: 500;
      font-size: 22px;
      margin-bottom: 15px; }
      .map .contato h2 span {
        display: none; }
    .map .contato h3 {
      display: none; }
    .map .contato p, .map .contato a {
      font-size: 14px;
      color: #fff;
      text-decoration: none;
      margin-bottom: 10px; }
      @media (min-width: 360px) {
        .map .contato p, .map .contato a {
          font-size: 14px; } }
      @media (min-width: 500px) {
        .map .contato p, .map .contato a {
          font-size: 14px; } }
    .map .contato p svg {
      position: relative;
      top: 3px;
      margin-right: 5px; }
    .map .contato .margin-bottom-15 {
      margin-bottom: 15px; }
  .map .social-media {
    background: rgba(12, 41, 40, 0.95); }
    @media (min-width: 360px) {
      .map .social-media {
        padding: 10px 10px 10px 20px; } }
    @media (min-width: 500px) {
      .map .social-media {
        padding: 10px 10px 10px 40px; } }
    .map .social-media h2 {
      display: none; }
    .map .social-media ul li {
      display: inline-block;
      margin-right: 10px; }
    .map .social-media ul a {
      display: block; }

footer {
  display: none; }

html, body {
  background-color: #fff; }

.content .top-bg {
  padding-bottom: 28px; }
.content nav {
  margin-bottom: 0; }
  .content nav a.home {
    display: block; }
  .content nav a:last-child {
    margin-right: 0; }

main {
  background-color: #fff;
  padding-top: 30px;
  padding-bottom: 30px; }
  main h2 {
    color: #F8C560;
    font-weight: 300;
    margin-bottom: 40px; }
    @media (min-width: 360px) {
      main h2 {
        font-size: 34px; } }
    @media (min-width: 700px) {
      main h2 {
        font-size: 48px; } }
  main h3 {
    color: #8a8a8a;
    margin-bottom: 30px;
    line-height: 1em;
    font-weight: 500; }
    @media (min-width: 360px) {
      main h3 {
        font-size: 20px; } }
    @media (min-width: 700px) {
      main h3 {
        font-size: 22px; } }
  main p {
    color: #696969;
    margin-bottom: 30px;
    line-height: 1.75em;
    letter-spacing: 0.03em; }
    @media (min-width: 360px) {
      main p {
        font-size: 14px; } }
    @media (min-width: 700px) {
      main p {
        font-size: 16px; } }
  main .image {
    width: 100%;
    height: auto;
    display: inline-block; }

.the-projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%; }

.the-project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media (min-width: 360px) {
    .the-project {
      width: 100%;
      margin-bottom: 60px;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  @media (min-width: 600px) {
    .the-project {
      width: calc(50% - 40px); }
      .the-project:nth-child(odd) {
        margin-right: 20px; }
      .the-project:nth-child(even) {
        margin-left: 20px; } }
  @media (min-width: 1000px) {
    .the-project {
      width: 50%;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .the-project:nth-child(odd), .the-project:nth-child(even) {
        margin: 0 0 60px 0; } }
  .the-project .the-project-image {
    border-radius: 100%;
    overflow: hidden; }
    .the-project .the-project-image a {
      position: relative;
      display: block; }
      .the-project .the-project-image a:hover .zoom {
        opacity: 0.7; }
    @media (min-width: 360px) {
      .the-project .the-project-image {
        width: 140px;
        height: 140px;
        margin-bottom: 20px; } }
    @media (min-width: 600px) {
      .the-project .the-project-image {
        width: 200px;
        height: 200px; }
        .the-project .the-project-image a {
          width: 200px;
          height: 200px; } }
    @media (min-width: 1000px) {
      .the-project .the-project-image {
        width: 300px;
        height: 300px;
        margin-bottom: 40px; }
        .the-project .the-project-image a {
          width: 300px;
          height: 300px; } }
    .the-project .the-project-image .zoom {
      width: 100%;
      height: 100%;
      background: #041b1c;
      top: 0;
      right: 0;
      position: absolute;
      z-index: 10;
      opacity: 0;
      -webkit-transition: opacity 0.3s ease;
      transition: opacity 0.3s ease;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .the-project .the-project-image .zoom svg {
        display: block;
        width: 24px;
        height: 24px;
        -webkit-transform: scale(2);
                transform: scale(2);
        position: relative; }
    .the-project .the-project-image img {
      width: 200%;
      display: block;
      position: relative;
      left: -50%;
      top: -1px;
      z-index: 5; }
  .the-project .column-02 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
    .the-project .column-02 a {
      color: #F8C560; }
    @media (min-width: 360px) {
      .the-project .column-02 {
        text-align: center;
        width: 100%; } }
    @media (min-width: 600px) {
      .the-project .column-02 {
        width: 100%; } }
    @media (min-width: 1000px) {
      .the-project .column-02 {
        width: 100%; } }
  .the-project h3 {
    margin-bottom: 10px; }
    @media (min-width: 360px) {
      .the-project h3 {
        font-size: 18px; } }
    @media (min-width: 600px) {
      .the-project h3 {
        font-size: 22px; } }
    @media (min-width: 1000px) {
      .the-project h3 {
        font-size: 22px; } }
  .the-project p {
    margin-bottom: 0; }
    @media (min-width: 360px) {
      .the-project p {
        font-size: 12px; } }
    @media (min-width: 600px) {
      .the-project p {
        font-size: 12px; } }
    @media (min-width: 1000px) {
      .the-project p {
        font-size: 14px; } }

.solicitar-orcamento a {
  color: #F8C560; }
.solicitar-orcamento .map {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 5px solid #0a2b29; }
