body.photos .logo .colour-bit {
    animation: none;
    fill: #66BAE2;
}

body.photos h1 {
    text-align: left;
    margin-bottom: 32px;
}

body.photos .intro {
    margin-bottom: 80px;
}

body.photos .intro p {
    text-align: left;
    margin-bottom: 22px;
}

body.photos .intro p:last-child {
    margin-bottom: 0;
}

body.photos .photo {
    margin-bottom: 80px;
}

body.photos .photo .container {
    width: 966px;
    height: 322px;
    background-color: #F3F3F3;
}

body.photos .photo img {
    transition: all ease 2.5s;
    margin-top: 0;
    display: block;
    opacity: 1;
    width: 966px;
    height: 322px;
}

body.photos .photo img.lazy {
    opacity: 0;
}

body.photos .photo p {
    transition: all ease 1.5s;
    opacity: 1;
    text-align: left;
    max-width: 768px;
    margin: 0 auto;
}

body.photos .photo.lazy p {
    opacity: 0;
}

