* {
  margin: 0;
  padding: 0;
  transition: all ease 0.45s;
}

h1, h2, p, a, span, li, strong {
  font-family: "Lora", serif;
  color: #090909;
}

body {
  opacity: 0;
  transition: opacity ease-in 0.25s;
}
body.loaded {
  opacity: 1;
}

.back {
  margin: 0 auto 0 16px;
  box-sizing: border-box;
  padding: 16px 0;
}
.back a, .back span {
  display: block;
  cursor: pointer;
  width: 48px;
  height: 48px;
  overflow: hidden;
  border-radius: 50%;
  transition: background-color ease-out 0.25s;
}
.back a:hover, .back span:hover {
  background-color: #eaeaea;
}
.back svg {
  display: block;
  margin: 4px auto 0 auto;
}
@media (min-width: 980px) {
  .back {
    width: 966px;
    margin: 0 auto;
  }
}

@media (min-width: 320px) {
  .intro {
    width: 100%;
    max-width: 768px;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
    padding: 0 32px;
    margin-bottom: 16px;
  }
  .intro h1 {
    font-size: 30px;
    letter-spacing: 0.5px;
    margin-bottom: 24px;
  }
  .intro p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 8px;
  }
  .intro p strong {
    font-weight: 700;
  }
}
@media (min-width: 680px) {
  .intro {
    padding: 0 80px;
  }
  .intro h1 {
    font-size: 44px;
    line-height: 50px;
  }
  .intro p {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 4px;
  }
}
@media (min-width: 980px) {
  .intro {
    padding: 0;
    margin-bottom: 40px;
  }
  .intro h1 {
    font-size: 44px;
    line-height: 50px;
    letter-spacing: 0;
  }
  .intro p {
    font-size: 22px;
    line-height: 34px;
    margin: 0;
  }
}

@media (min-width: 320px) {
  .photo {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 0 24px;
  }
  .photo .container {
    width: 100%;
    max-width: 966px;
    height: 420px;
    border-radius: 8px;
    overflow: hidden;
    background-color: #090909;
    margin: 0 auto 16px auto;
  }
  .photo img {
    width: 100%;
    max-width: 966px;
    height: 420px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .photo p {
    font-family: "Libre Franklin", sans-serif;
    font-size: 10px;
    letter-spacing: 1px;
    opacity: 75%;
    text-align: center;
    margin-bottom: 80px;
  }
}
@media (min-width: 680px) {
  .photo p {
    font-size: 12px;
  }
}
@media (min-width: 840px) {
  .photo .container {
    margin: 0 auto 16px auto;
    height: auto;
    border-radius: 8px;
    overflow: hidden;
  }
  .photo img {
    height: auto;
    display: block;
  }
}

.home .photo .container {
  margin-bottom: 80px;
}

@media (min-width: 320px) {
  .logo {
    width: 80px;
    display: block;
    margin: 64px auto 40px auto;
    cursor: pointer;
  }
  .logo .colour-bit {
    fill: white;
    -webkit-animation: smallBit 12s infinite alternate;
            animation: smallBit 12s infinite alternate;
  }
  @-webkit-keyframes smallBit {
    0% {
      fill: white;
    }
    15% {
      fill: white;
    }
    25% {
      fill: #66BAE2;
    }
    50% {
      fill: #FCC675;
    }
    75% {
      fill: #F6387C;
    }
    90% {
      fill: white;
    }
    100% {
      fill: white;
    }
  }
  @keyframes smallBit {
    0% {
      fill: white;
    }
    15% {
      fill: white;
    }
    25% {
      fill: #66BAE2;
    }
    50% {
      fill: #FCC675;
    }
    75% {
      fill: #F6387C;
    }
    90% {
      fill: white;
    }
    100% {
      fill: white;
    }
  }
}
@media (min-width: 980px) {
  .logo {
    width: 100px;
    margin: 80px auto 72px auto;
  }
}

body.photos .logo {
  margin-top: 40px;
}
body.photos .logo .colour-bit {
  -webkit-animation: none;
          animation: none;
  fill: #66BAE2;
}
body.photos h1 {
  text-align: left;
  margin-bottom: 32px;
}
body.photos .intro {
  margin-bottom: 56px;
}
body.photos .intro p {
  text-align: left;
  margin-bottom: 24px;
}
body.photos .intro p:last-child {
  margin-bottom: 0;
}
body.photos .photo {
  margin-bottom: 24px;
}
@media (min-width: 840px) {
  body.photos .photo {
    margin-bottom: 64px;
  }
}
body.photos .more-photos {
  text-align: center;
  margin-bottom: 32px;
}
body.photos .more-photos a, body.photos .more-photos span {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  height: auto;
  letter-spacing: 0.5px;
  line-height: 32px;
  padding: 2px 10px 2px 10px;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color ease-out 0.3s;
  border-radius: 4px;
}
body.photos .more-photos a:hover, body.photos .more-photos span:hover {
  cursor: pointer;
  background-color: #eaeaea;
}

@media screen and (min-width: 320px) {
  .navigation {
    margin-bottom: 24px;
  }
  .navigation h2 {
    display: none;
  }
  .navigation nav ol {
    width: 100%;
    -moz-column-count: 1;
         column-count: 1;
  }
  .navigation li {
    list-style: none;
    display: block;
    margin: 0 8px;
    text-align: center;
  }
  .navigation li a, .navigation li span {
    display: block;
    font-size: 16px;
    font-weight: 700;
    height: auto;
    letter-spacing: 0.5px;
    line-height: 32px;
    padding: 8px;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color ease-out 0.3s;
    border-radius: 4px;
  }
}
@media screen and (min-width: 680px) {
  .navigation li a, .navigation li span {
    font-size: 16px;
    letter-spacing: 0.5px;
  }
}
@media screen and (min-width: 840px) {
  .navigation li {
    display: inline-block;
  }
  .navigation nav ol {
    -moz-column-count: auto;
         column-count: auto;
    text-align: center;
  }
}
@media screen and (min-width: 980px) {
  .navigation {
    margin-bottom: 48px;
  }
  .navigation li a, .navigation li span {
    font-size: 18px;
    height: auto;
    line-height: 32px;
    padding: 2px 10px 2px 10px;
  }
  .navigation li a:hover, .navigation li span:hover {
    cursor: pointer;
    background-color: #eaeaea;
  }
}/*# sourceMappingURL=style.css.map */