* {
    margin: 0;
    padding: 0;
    transition: all ease 0.45s;
}

h1, h2, p, a, span, li, strong {
    font-family: 'Lora', serif;
    color: #090909;
}

body { 
    // opacity: 0;
    transition: opacity ease-in 0.25s;

    &.loaded {
        opacity: 1;
    }
}

.back {
    margin: 0 auto 0 16px;
    box-sizing: border-box;
    padding: 16px 0;
    
    a, span {
        display: block;
        cursor: pointer;
        width: 48px;
        height: 48px;
        overflow: hidden;
        border-radius: 50%;
        transition: background-color ease-out 0.25s;

        &:hover {
            background-color: #eaeaea;
        }
    }

    svg {
        display: block;
        margin: 4px auto 0 auto;
    }

    @media (min-width: $layout-breakpoint-xlarge) {
        width: 966px;
        margin: 0 auto;
    }
}

.intro {
    @media (min-width: $layout-breakpoint-small) {
        width: 100%;
        max-width: 768px;
        box-sizing: border-box;
        margin: 0 auto;
        text-align: center;
        padding: 0 32px;
        margin-bottom: 16px;

        h1 {
            font-size: 30px;
            letter-spacing: 0.5px;
            margin-bottom: 24px;
        }

        p {
            font-size: 16px;
            line-height: 26px;
            margin-bottom: 8px;

            strong {
                font-weight: 700;
            }
        }
    }

    @media (min-width: $layout-breakpoint-medium) {
        padding: 0 80px;
        
        h1 {
            font-size: 44px;
            line-height: 50px;
        }

        p {
            font-size: 18px;
            line-height: 30px;
            margin-bottom: 4px;
        }
    }

    @media (min-width: $layout-breakpoint-xlarge) {
        padding: 0;
        margin-bottom: 40px;

        h1 {
            font-size: 44px;
            line-height: 50px;
            letter-spacing: 0;
        }

        p {
            font-size: 22px;
            line-height: 34px;
            margin: 0;
        }
    }
}

.photo {
    @media (min-width: $layout-breakpoint-small) {
        width: 100%;
        height: auto;
        box-sizing: border-box;
        padding: 0 24px;            

        .container {
            width: 100%;
            max-width: 966px;
            height: 420px;
            border-radius: 8px;
            overflow: hidden;
            background-color: #090909;
            margin: 0 auto 16px auto;
        }

        img {
            width: 100%;
            max-width: 966px;
            height: 420px;
            object-fit: cover;
        }

        p {
            font-family: 'Libre Franklin', sans-serif;
            font-size: 10px;
            letter-spacing: 1px;
            opacity: 75%;
            text-align: center;
            margin-bottom: 80px;
        }
    }

    @media (min-width: $layout-breakpoint-medium) {
        p {
            font-size: 12px;
        }
    }

    @media (min-width: $layout-breakpoint-large) {
        .container {
            margin: 0 auto 16px auto;
            height: auto;
            border-radius: 8px;
            overflow: hidden;
        }

        img {
            height: auto;
            display: block;
        }
    }
}