.logo {
    @media (min-width: $layout-breakpoint-small) {
        width: 80px;
        display: block;
        margin: 64px auto 40px auto;
        cursor: pointer;

        .colour-bit {
            fill: white;
            animation: smallBit 12s infinite alternate;
        }

        @keyframes smallBit {
            0% {
                fill: white;
            }
        
            15% {
                fill: white;
            }
        
            25% {
                fill: $logo-blue;
            }
        
            50% {
                fill: $logo-yellow;
            }
        
            75% {
                fill: $logo-red;
            }
        
            90% {
                fill: white;
            }
        
            100% {
                fill: white;
            }
        }
    }

    @media (min-width: $layout-breakpoint-xlarge) {
        width: 100px;
        margin: 80px auto 72px auto; 
    }
}